/* Navbar.css */
.navbar {
  position: fixed; /* Fix navbar at the top */
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust the horizontal alignment */
  background-color: #1a202c; /* Dark background color */
  width: 80%; /* Full width */
  padding: 20px 0; /* Padding around the navbar */
  z-index: 1100; /* Ensure navbar stays on top */
  display: flex;
  justify-content: center; 
  border-radius: 20px;
  margin-top: 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between; /* Space between navbar items */
  align-items: center; /* Align items vertically */
  width: 80%; /* Adjust width as needed */
}

.navbar h1 {
  color: #ffffff;
  font-size: 24px;
  margin-right: 30px;
}

.navbar-links {
  display: flex; /* เรียงไอคอนและข้อความในแนวนอน */
  justify-content: center; /* จัดตำแหน่งกลาง */
  align-items: center; /* จัดให้ไอคอนและข้อความอยู่ในแนวเดียวกัน */
}

.navbar-links a {
  color: #ffffff;
  margin: 0 20px; /* เพิ่มช่องว่างระหว่างลิงก์ */
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navbar-links a .navbar-icon {
  margin-right: 8px; /* ระยะห่างระหว่างไอคอนและข้อความ */
}

.navbar-links a:hover {
  color: #4299e1;
}

.navbar-links a:nth-child(2):hover {
  color: #48bb78; /* Green color on hover for Profile */
}

.navbar-links a:nth-child(3):hover {
  color: #f56565; /* Red color on hover for Sign Up */
}

.navbar-links a:nth-child(4):hover {
  color: #ed8936; /* Orange color on hover for Sign In */
}

.btn-download {
  background-color: #3182ce; /* Blue color */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-download:hover {
  background-color: #2b6cb0; /* Darker blue on hover */
}
